.etiquetas {
    color: white;
    font-size: 24px;
    font-style: Verdana;
}

.titulo {
    color: white;
    font-size: 44px;
    font-style: Verdana;
}

.titulo2 {
    color: white;
    font-size: 36px;
    font-style: Verdana;
}